:root{
  --container-max: 1000px;
}
html,body,#__next{
  height:100%;
}
body{
  margin:0;
  font-family: Inter, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial;
  background:#f5f7fb;
}
.container{
  max-width:var(--container-max);
  margin:32px auto;
  padding:0 16px;
}
